# Entornos virtuales
venv/
env/
.venv/

# Bitácora local (no versionar)
bitacora.txt

# PyCharm / IntelliJ / VS Code
.idea/
.vscode/

# Python
__pycache__/
*.py[cod]
*.egg-info/
.pytest_cache/
.mypy_cache/
dist/
build/

# Sistema
.DS_Store
Thumbs.db
